body {
  margin: 0;
}

.header {
  background: rgb(65, 65, 65);
  text-align: center;
  padding: 1.5rem;
  position: sticky;
  border-bottom: solid rgb(196, 196, 196) 0.125rem;
}

.header > h1 {
  font-size: 1.25rem;
  margin: 0;
  color: rgb(226, 226, 226);
}

.container {
  width: 95%;
  max-width: 720px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > h4 {
  margin: 0;
}

.prefuctures-checkbox {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 1rem;
}
.prefuctures-checkbox > div {
  flex-basis: 5.5rem;
}