body {
  margin: 0;
}

.header {
  background: rgb(197, 197, 197);
  text-align: center;
  padding: 1rem;
  position: sticky;
}

.header > * {
  margin: 0;
}

.container {
  width: 95%;
  max-width: 720px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > h4 {
  margin: 0;
}

.prefuctures-checkbox {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 1rem;
}
.prefuctures-checkbox > div {
  flex-basis: 5.5rem;
}